{% extends 'base2.html' %}
{% block body %}
<div class="container">
  <form class="form-group" method="post">
      {% csrf_token %}
      {% for card in cards %}
            <label for="{{card.city}}" style="float:right;">{{card.city}}</label>
            <input type="text" name="{{card.city}}" value="{{card.price}}" id="{{card.city}}" class="form-control" style="margin:10px 0;">
      {% endfor %}
      <button type="submit" name="button" class="btn btn-primary">save</button>
  </form>
</div>
{% endblock %}
