{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'zudipay/about.css' %}" type="text/css">
{% endblock %}
{% block body %}
<h3 style="text-align:center;color:#fff;padding:10px;background-color:#4a6ac6;">من نحن؟!</h3>

<div class="container">
  <p style="text-align:justify;padding:15px;line-height: 2">تم تأسيس شركة زودي بي الناشئة في عام 2018 بهدف توفير خدمات إلكترونية للسائح العراقي في إيران، وتحريره من شِباك السماسرة وبعض حالات الاحتيال بالإضافة إلى منحه القدرة على رؤية الأسعار الحقيقة للخدمات في إيران ودفع السعر الحقيقي فقط من دون الاضطرار لدفع أجور إضافية (غير عادلة) للمترجم والسائق والدليل السياحي وغيرهم. زودي بي Zudi Pay أداة تساعدك لحجز خدمات السياحة والسفر عبر المواقع الإيرانية من دون الحاجة لفتح حساب في إيران أو امتلاك بطاقة مصرفية إيرانية. باستخدام Zudi Pay يمكنك حجز تذاكر الطائرات، القطارات، الحافلات، الفنادق والشقق في إيران من أشهر المواقع الإيرانية ودفع الأجور بسهولة وبالدينار العراقي. وعلى الجانب الآخر تعمل زودي على توفير الدفع الالكتروني للسائح الإيراني في العراق من أجل الحجز والتسوق. عند الدفع يتم ابلاغ إدارة الموقع، وإصدار التذاكر …
  </p>
  <div style="margin:auto;text-align:center;">
      <a href="https://fintech.ansarbank.com/Home.aspx"><img src="/static/fintech.png" alt="fintechanasr" width="60px" style="margin-left:4px;"></a>
      <a href="https://zudipay.com"><img src="/static/logo.png" alt="fintechanasr" width="100px" style="margin-right:4px;"></a>
  </div>
</div>
{% endblock %}
