{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'zudipay/home.css' %}" type="text/css">
{% endblock %}
{% block body %}
<div class="header">
    <img src="{% static 'logo-medium.png' %}" alt="zudilogo"  id="header-logo">
</div>
<div class="container zudi-menu">
            <div class="row">
                <div class="col-md-6">
                    <a href="/Exchange" class="zudi-button">
                        <img src="{% static 'coin.png' %}" class="icon" alt="سعر صرف التومان"/>
                        <div class="vertical-line"></div>
                        <span class="button-text">سعر صرف التومان</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/Calculate" class="zudi-button">
                        <img src="{% static 'accounting.png' %}" class="icon" alt="حاسبة"/>
                        <div class="vertical-line"></div>
                        <span class="button-text">حاسبة العملات</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/pay" class="zudi-button">
                        <img src="{% static 'tourit.png' %}" class="icon" alt="دفع الكتروني"/>
                        <div class="vertical-line"></div>
                        <span class="button-text">دفع الكتروني</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="static/ZUDI.apk" class="zudi-button">
                        <img src="{% static 'android.png' %}" class="icon" alt="تنزيل التطبيق الاندرويد"/>
                        <div class="vertical-line"></div>
                        <span class="button-text">تنزيل التطبيق الاندرويد</span>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <div class="row" style="text-align:center;width:100%;">
                <div class="col-md-4">
                  <a href="/about" dir="ltr"><p>من نحن؟</p></a>
                </div>
                <div class="col-md-4">
                    <a href="https://facebook.com/zuditasrif" dir="ltr"><p><i class="fab fa-facebook-square"></i> Zudipay</p></a>
                </div>

                <div class="col-md-4">
                    <a href="" dir="ltr"><p><i class="fab fa-whatsapp"></i> 0098 905 3307 880</p></a>
                </div>

            </div>
            <p style="text-align:center;color:#fff;">۲۰۱۹ جميع الحقوق محفوظة لشركة زودي.</p>
        </footer>
{% endblock %}
