<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>ZUDIPAY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="shortcut icon" href="{%  static 'zudi-logo.png' %}">
    <script src="https://kit.fontawesome.com/9127ad7c5f.js"></script>
    <link rel="stylesheet" href="{% static 'zudipay/base2.css' %}" type="text/css">
    <link rel="stylesheet" href="/static/zudipay/flag-icon.min.css"/>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="header">
        <!--<p id="time"></p>-->
        <a href="/"><img src="{% static 'logo.png' %}" alt="zudilogo"  id="header-logo"></a>
    </div>
    {% block body %}
    {% endblock %}
    <footer>
        <div class="row" style="text-align:center;width:100%;">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <a href=""<p><i class="fab fa-facebook-square"></i> zudipay</p></a>
            </div>
            <div class="col-md-4">
                <a href=""<p><i class="fab fa-whatsapp"></i> +98-9127118257</p></a>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <p style="text-align:center;color:#fff;">۲۰۱۹ جميع الحقوق محفوظة لشركة زودي.</p>
    </footer>
  </body>
  <script>
  var monthes = ["محرم","صفر","ربيع الاول","ربيع الثاني","جمادي الاول","جمادي الثاني","رجب","شعبان","رمضان","شوال","ذي القعده","ذي الحجة"]
  var d = new Date();
  function writeHijri(date, lang) {
  var date = date || new Date();
  lang = lang || 'en';
  var options = {
    year: 'numeric', month: 'long', day: 'numeric'
  };
  return date.toLocaleString(lang + '-u-ca-islamic', options);
}

// 1 Jan 2017 converted to Hijri (3 Rab. II 1438) in Arabic
   var seconds = d.getSeconds();

  var minutes = d.getMinutes();
  var hour = d.getHours();
  //document.getElementById('time').innerHTML=hour +":"+minutes+":"+seconds+"طهران";
  setInterval(changetime, 1000);
  function changetime(){
    var d = new Date();
    var seconds = d.getSeconds();
    var minutes = d.getMinutes();
    var hour = d.getHours();
    //document.getElementById('time').innerHTML=hour +":"+minutes+":"+seconds+"طهران";



}
  </script>
</html>
