.tour{
  border-bottom: solid #003b6a 2px;
  vertical-align: middle;
  text-align: center;
  padding:6px 0;
}
.maintour{
  background-color: #003b6a;
  color: #fff;
  padding: 10px;
  text-align: center;

}
@media only screen and (max-width: 450px) {
  .container{
    font-size: 0.5rem;
  }
  #companyicon{
    width:60%;
  }
}
.modal-dialog{
  width: 80%;
  text-align: center;
  max-width: none;
}
#companyicon{
  width:100px;
  border:#c2c2c2 solid 3px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}
